<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".message.MessageActivity"
            android:exported="false"
            android:label="@string/title_activity_message"
            android:theme="@style/Theme.Message" />
        <activity
            android:name=".phone.PhoneActivity"
            android:exported="false"
            android:label="@string/title_activity_phone"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name=".contacts.ContactsActivity"
            android:exported="false"
            android:label="@string/title_activity_contacts"
            android:theme="@style/Theme.Contacts" />
    </application>

</manifest>