<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".videos.VideosActivity"
            android:exported="false"
            android:label="@string/title_activity_videos"
            android:theme="@style/Theme.Videos" />
        <activity
            android:name=".photos.PhotosActivity"
            android:exported="false"
            android:label="@string/title_activity_photos"
            android:theme="@style/Theme.Photos" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.Camera" />
    </application>

</manifest>