<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:icon="@drawable/lumi_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lumi_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lumi">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Lumi"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ralphmarondev.media.camera.CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.Camera"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.media.photos.PhotosActivity"
            android:exported="false"
            android:label="@string/title_activity_photos"
            android:theme="@style/Theme.Photos"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.media.videos.VideosActivity"
            android:exported="false"
            android:label="@string/title_activity_videos"
            android:theme="@style/Theme.Videos"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.notes.NoteActivity"
            android:exported="false"
            android:label="@string/title_activity_note"
            android:theme="@style/Theme.Notes"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.weather.WeatherActivity"
            android:exported="false"
            android:label="@string/title_activity_weather"
            android:theme="@style/Theme.Weather"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.clock.ClockActivity"
            android:exported="false"
            android:label="@string/title_activity_clock"
            android:theme="@style/Theme.Clock"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.calendar.CalendarActivity"
            android:exported="false"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.Calendar"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.telephony.contacts.ContactsActivity"
            android:exported="false"
            android:label="@string/title_activity_contacts"
            android:theme="@style/Theme.Contacts"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.telephony.message.MessageActivity"
            android:exported="false"
            android:label="@string/title_activity_message"
            android:theme="@style/Theme.Message"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.telephony.phone.PhoneActivity"
            android:exported="false"
            android:label="@string/title_activity_phone"
            android:theme="@style/Theme.Phone"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ralphmarondev.calculator.CalculatorActivity"
            android:exported="false"
            android:label="@string/title_activity_calculator"
            android:theme="@style/Theme.Calculator"
            tools:replace="android:theme" />
        <activity
            android:name="com.ralphmarondev.store.StoreActivity"
            android:exported="false"
            android:label="@string/title_activity_store"
            android:theme="@style/Theme.Store"
            tools:replace="android:theme" />
    </application>

</manifest>